@page "/batch"
@inherits BatchController;
@using Telerik.Blazor.Components;
@using Telerik.Blazor.Components.Editor;

<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> OnOpenDialogHandler())">Thêm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png" OnClick="@DeleteDataHandler">Xóa dòng</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 170px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>

    <TelerikGrid Data="@ListBatchs"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedBatchs">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(BatchModel.BatchId) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
           <GridColumn Field=@nameof(BatchModel.BatchId) Width="130px" MaxResizableWidth="150" Title="Mã lô">
                <Template>
                    @{
                        var model = (context as BatchModel);
                        <span class="h-link" @onclick="@(() => OnOpenDialogHandler(EnumType.Update, model))" title="Xem chi tiết">@model!.BatchId</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(BatchModel.PublisherName) Width="150px" Title="Tên nhà xuất bản"></GridColumn>
            <GridColumn Field=@nameof(BatchModel.KindBookName) Width="150px" Title="Tên loại sách"></GridColumn>
             <GridColumn Field=@nameof(BatchModel.BookId) Width="120px" Title="Mã sách"></GridColumn>
            <GridColumn Field=@nameof(BatchModel.BookName) Width="200px" Title="Tên sách"></GridColumn>
             <GridColumn Field=@nameof(BatchModel.Qty) Width="200px" Title="Số lượng" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
             <GridColumn Field=@nameof(BatchModel.Price) Width="200px" Title="Đơn giá" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>

<HDialog @bind-IsVisible="@IsShowDialog"
    SaveAndClosed="@(()=> SaveDataHandler())"
    Title="@(IsCreate ? "Thêm mới lô sách" : "Cập nhật lô sách")">
    <EditForm EditContext="@_EditContext">
        <DataAnnotationsValidator />
         <div class="row row-gap-2 align-items-end mt-1">
            <div class="col-md-6 col-sm-12">
                <HLabel Value="Mã số lô:" />
                 <TelerikNumericTextBox Enabled="false" Min="500"  Step="500" Format="@DefaultConstants.FORMAT_CURRENCY" @bind-Value="@BatchUpdate.BatchId" Class="bh-link"  Id="txtId" />
            </div>
        </div>
        <div class="mt-2">
             <HLabel Value="Sách:" IsRequired="true" />
                    <TelerikComboBox Data="@ListBooks"
                        Value="@BatchUpdate.BookId"
                        ValueExpression="@(() => BatchUpdate.BookId)"
                        ValueChanged="@((int value) => BatchUpdate.BookId = value)"
                        Placeholder="Chọn sách..."
                        TextField="@nameof(BookModel.BookName)"
                        ValueField="@nameof(BookModel.BookId)"
                        Filterable="true"
                        ClearButton="false"
                        Id="txtBookId" Width="100%">
                    </TelerikComboBox>
                    <HValidationTooltip ValidationFor="@(()=> BatchUpdate.BookId)" Id="txtBookId" />
        </div>
        <div class="mt-2">
             <HLabel Value="Số lượng" IsRequired="true" />
                    <TelerikNumericTextBox 
                        Format="@DefaultConstants.FORMAT_CURRENCY" 
                        Min="1"
                        @bind-Value="@BatchUpdate.Qty"
                                           Id="numQty" />
                    <HValidationTooltip ValidationFor="@(()=> BatchUpdate.Qty)" Id="numQty" />
        </div>
        <div class="mt-2">
               <HLabel Value="Đơn giá:" IsRequired="true" />
                    <TelerikNumericTextBox 
                        Format="@DefaultConstants.FORMAT_CURRENCY" 
                        Min="1"
                        @bind-Value="@BatchUpdate.Price" 
                        Id="numPrice" />
                    <HValidationTooltip ValidationFor="@(()=> BatchUpdate.Price)" Id="numPrice" />
        </div>
        
    </EditForm>

</HDialog>

<HConfirm @ref="@_rDialogs" />
