@page "/book"
@inherits BookController;
@using Telerik.Blazor.Components;
@using Telerik.Blazor.Components.Editor;

<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> OnOpenDialogHandler())">Thêm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png" OnClick="@DeleteDataHandler">Xóa dòng</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 170px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>

    <TelerikGrid Data="@ListBooks"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedBooks">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(BookModel.BookId) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
           <GridColumn Field=@nameof(BookModel.BookId) Width="130px" MaxResizableWidth="150" Title="Mã sách">
                <Template>
                    @{
                        var model = (context as BookModel);
                        <span class="h-link" @onclick="@(() => OnOpenDialogHandler(EnumType.Update, model))" title="Xem chi tiết">@model!.BookId</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(BookModel.BookName) Width="150px" Title="Tên sách"></GridColumn>
            <GridColumn Field=@nameof(BookModel.AuthorName) Width="150px" Title="Tác giả"></GridColumn>
            <GridColumn Field=@nameof(BookModel.PublisherName) Width="150px" Title="Nhà xuất bản"></GridColumn>
            <GridColumn Field=@nameof(BookModel.KindBookName) Width="150px" Title="Loại sách"></GridColumn>
            <GridColumn Field=@nameof(BookModel.PublishingYear) Width="150px" Title="Năm xuất bản"></GridColumn>
            <GridColumn Field=@nameof(BookModel.Qty) Width="150px" Title="Số lượng" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>
            @*<GridColumn Field=@nameof(BookModel.Price) Width="150px" Title="Đơn giá/sách" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY"></GridColumn>*@
            @*<GridColumn Field=@nameof(BookModel.Description) Width="270px" Title="Miêu tả"></GridColumn>*@
        </GridColumns>
    </TelerikGrid>
</div>

<HDialog @bind-IsVisible="@IsShowDialog"
    SaveAndClosed="@(()=> SaveDataHandler())"
    ActionClosed="@RemoveFileCallbackHandler"
    Width="80%"
    Title="@(IsCreate ? "Thêm mới sách" : "Cập nhật sách")">
    <EditForm EditContext="@_EditContext">
        <DataAnnotationsValidator />
        <div class="mt-2">
              <div class="row row-gap-2">
                    <div class="col-md-6 col-sm-12">
                        <HLabel Value="Tên sách:" IsRequired="true" />
                        <TelerikTextBox @bind-Value="@BookUpdate!.BookName" Class="bh-link" Id="txtBookName" />
                        <HValidationTooltip ValidationFor="@(()=> BookUpdate.BookName)" Id="txtBookName" />
                    </div>        
             </div>
        </div>
         <div class="mt-2">
            <div class="row row-gap-2">
                <div class="col-md-6 col-sm-12">
                   <HLabel Value="Tác giả:" IsRequired="true" />
                    <TelerikComboBox Data="@ListAuthors"
                        Value="@BookUpdate.AuthorId"
                        ValueExpression="@(() => BookUpdate.AuthorId)"
                        ValueChanged="@((int value) => BookUpdate.AuthorId = value)"
                        Placeholder="Chọn tác giả.."
                        TextField="@nameof(AuthorModel.AuthorName)"
                        ValueField="@nameof(AuthorModel.Id)"
                        Filterable="true"
                        ClearButton="false"
                        Id="txtAuthorId" Width="100%">
                    </TelerikComboBox>
                    <HValidationTooltip ValidationFor="@(()=> BookUpdate.AuthorId)" Id="txtAuthorId" />
                </div>
                <div class="col-md-6 col-sm-12">
                   <HLabel Value="Loại sách:" IsRequired="true" />
                    <TelerikComboBox Data="@ListKindBooks"
                        Value="@BookUpdate.KindBookId"
                        ValueExpression="@(() => BookUpdate.KindBookId)"
                        ValueChanged="@((int value) => BookUpdate.KindBookId = value)"
                        Placeholder="Chọn loại sách..."
                        TextField="@nameof(KindBookModel.KindBookName)"
                        ValueField="@nameof(KindBookModel.KindBookId)"
                        Filterable="true"
                        ClearButton="false"
                        Id="txtKindBookId" Width="100%">
                    </TelerikComboBox>
                    <HValidationTooltip ValidationFor="@(()=> BookUpdate.KindBookId)" Id="txtKindBookId" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <HLabel Value="Nhà xuất bản:" IsRequired="true" />
                    <TelerikComboBox Data="@ListPublishers"
                        Value="@BookUpdate.PublisherId"
                        ValueExpression="@(() => BookUpdate.PublisherId)"
                        ValueChanged="@((int value) => BookUpdate.PublisherId = value)"
                        Placeholder="Chọn nhà xuất bản..."
                        TextField="@nameof(PublisherModel.PublisherName)"
                        ValueField="@nameof(PublisherModel.PublisherId)"
                        Filterable="true"
                        ClearButton="false"
                        Id="txtPublisherId" Width="100%">
                    </TelerikComboBox>
                     <HValidationTooltip ValidationFor="@(()=> BookUpdate.PublisherId)" Id="txtPublisherId" />
                </div>
                <div class="col-md-6 col-sm-12">
                    <HLabel Value="Năm xuất bản:" IsRequired="true" />
                    <TelerikNumericTextBox 
                        Min="1800"
                        @bind-Value="@BookUpdate.PublishingYear" 
                        Id="numPublishingYear" />
                    <HValidationTooltip ValidationFor="@(()=> BookUpdate.PublishingYear)" Id="numPublishingYear" />
                </div>
            </div>
        </div>
        <div class="mt-2">
            <HLabel Value="Điền thông tin mô tả:" />
            <TelerikEditor Value="@BookUpdate.Description" 
                ValueChanged="@((string value) => BookUpdate.Description = value)"
                ValueExpression="@(() => BookUpdate.Description)"
                Tools="@EditorToolSets.All"
                Id="txtDescription"
                Height="275px">
            </TelerikEditor>
        </div>

        <div class="mt-2">
            <HLabel Value="Ảnh bìa:" />
            <InputFile id="ref-upload" accept="image/*" OnChange="@OnLoadFileHandler" />
            <div class="text-secondary">
                *Lưu ý: dung lượng file không quá 2MB và ảnh JPG, PNG
            </div>
        </div>
        @if (!string.IsNullOrEmpty(BookUpdate.ImageUrlView))
        {
            <div class="mt-2" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                <img class="img-thumbnail" src="@BookUpdate.ImageUrlView" style="width: 240px; height: 366px; object-fit: cover; border-radius: 3px;" />
            </div>
        }

    </EditForm>

</HDialog>

<HConfirm @ref="@_rDialogs" />
