@page "/document-create"
@inherits DocumentController;

<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/bill.png" OnClick="@(()=> ReturnBooksHandler())"
                   Visible="@(pIsLockPage && DocumentUpdate.StatusCode == nameof(DocStatus.Borrowing))">Trả sách</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/save-folder.png" OnClick="@(()=> SaveDocHandler())" Visible="@(!pIsLockPage)">Lưu phiếu</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/bill.png" OnClick="@(()=> SaveDocHandler(EnumType.SaveAndClose))" Visible="@(!pIsLockPage)">Lưu & Đóng phiếu</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/printer.png" OnClick="@(async()=>await PrintDocHandler())">In phiếu</ToolBarButton>
</TelerikToolBar>
<div class="h-content-filter" style="border-top: 1px solid var(--tblr-border-color)">
    <div class="card card-lg mt-1" style="padding: 5px">
        <div style="border-bottom: 1px solid var(--tblr-border-color)">
            <div class="accordion" id="accordion-info">
                <div class="accordion-item" style="border: none">
                    <span class="accordion-header" id="heading-1">
                        <button class="accordion-button " style="padding-top: 5px; padding-bottom: 5px;"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapse-info" aria-expanded="true">
                            <h4 class="mb-1">Thông tin phiếu mượn - Mượn sách @DocumentUpdate.TypeBO</h4>
                        </button>
                    </span>
                    <div id="collapse-info" class="accordion-collapse collapse show" data-bs-parent="#accordion-info">
                        <div class="accordion-body pt-0 px-2 pb-2">
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Số phiếu: <strong>@($"{DocumentUpdate.VoucherNo}")</strong>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Tình trạng phiếu:
                                        @{
                                            string color = "badge bg-cyan-lt";
                                            if (DocumentUpdate!.StatusCode == nameof(DocStatus.Closed)) color = "badge bg-green-lt";
                                            else if (DocumentUpdate!.StatusCode == nameof(DocStatus.Cancled)) color = "badge bg-red-lt";
                                            else if (DocumentUpdate!.StatusCode == nameof(DocStatus.Borrowing)) color = "badge bg-yellow-lt";
                                            <strong class="@(color)">
                                                @($"{DocumentUpdate.StatusName}")
                                            </strong>
                                        }
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Ngày tạo: <strong>@DocumentUpdate.DateCreate?.ToString(DefaultConstants.FORMAT_DATE)</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-md-4 col-sm-12">
                                        Mã thẻ/Mã số sinh viên: 
                                        <i class="fa-solid fa-magnifying-glass" style="font-size: 14px;margin-left: 5px;" 
                                            title="Tìm kiếm" @onclick="@(()=> OnOpenDialogHandler(false))"></i> 
                                        <strong>@($"{DocumentUpdate.StaffCode}")</strong>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        Tên cán bộ, giáo viên, sinh viên: <strong>@($"{DocumentUpdate.FullName}")</strong>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        Chức vụ: <strong>@($"{DocumentUpdate.StaffTypeName}")</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-md-4 col-sm-12">
                                        Số điện thoại: <strong>@($"{DocumentUpdate.PhoneNumber}")</strong>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        Phòng ban: <strong>@($"{DocumentUpdate.Department}")</strong>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        Email: <strong>@($"{DocumentUpdate.Email}")</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="row row-gap-2">
                                    <div class="col-md-4 col-sm-12">
                                        Ngày mượn:
                                        <TelerikDatePicker @bind-Value="@DocumentUpdate.DocDate"
                                                                Placeholder=""
                                                                Enabled="@(!pIsLockPage)"
                                                                Format="@DefaultConstants.FORMAT_DATE"
                                                                Class="btn-noborder-radius-left">
                                        </TelerikDatePicker>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        Ngày hẹn trả:
                                        <TelerikDatePicker @bind-Value="@DocumentUpdate.PromiseDate"
                                                               Placeholder=""
                                                               Enabled="@(!pIsLockPage)"
                                                               Format="@DefaultConstants.FORMAT_DATE"
                                                               Class="btn-noborder-radius-left">
                                        </TelerikDatePicker>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                        Ngày trả:
                                        <TelerikDatePicker @bind-Value="@DocumentUpdate.DueDate"
                                                           Placeholder=""
                                                           Enabled="false"
                                                           Format="@DefaultConstants.FORMAT_DATE"
                                                           Class="btn-noborder-radius-left">
                                        </TelerikDatePicker>
                                    </div>
                                </div>
                            </div>
                            <div>
                                Ghi chú:
                                <TelerikTextBox @bind-Value="@DocumentUpdate!.Description" Id="txtNoteForAll" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-2">
            <div class="d-flex justify-content-start align-items-stretch">
                <h4 class="mb-1" style="padding-left: 20px;padding-right: 20px;">
                    Số sách mượn
                </h4>
            </div>
            <TelerikToolBar Class="border-bottom-0">
                <ToolBarButton ImageUrl="../assets/add-new-icon.png" Title="Thêm mới sách" Visible="@(!pIsLockPage)" OnClick="@(()=> OnOpenDialogHandler())"></ToolBarButton>
            </TelerikToolBar>
            <TelerikGrid Data="@ListBODetails" @ref="@RefListBODetails"
                         Height="250px"
                         Width="100%"
                         RowHeight="25"
                         Pageable="false"
                         PageSize="@DefaultConstants.PAGE_SIZE"
                         Sortable="true"
                         Resizable="true"
                         FilterMode="@GridFilterMode.None"
                         SelectionMode="@GridSelectionMode.Single"
                         @bind-SelectedItems="@SelectedBODetails"
                         ScrollMode="@GridScrollMode.Scrollable">
                <GridSettings>
                    <GridPagerSettings InputType="PagerInputType.Input" />
                </GridSettings>
                <GridAggregates>
                    <GridAggregate Field=@nameof(BODetailModel.Quantity) Aggregate="@GridAggregateType.Sum" />
                </GridAggregates>
                <GridColumns>
                    <GridColumn Width="30px" MaxResizableWidth="40" TextAlign="ColumnTextAlign.Center">
                        <Template>
                            @if (!pIsLockPage)
                            {
                                <img class="cursor-pointer" src="./assets/delete-red.png" title="Xóa dòng" @onclick="@(()=> RemoveBooksHandler((context as BODetailModel)))" />
                            }
                            else
                            {
                                <i class="fa-regular fa-pen-to-square h-link" title="Trả sách"
                                   style="font-size: 14px; margin-right: 2px" @onclick="@(()=> ReturnBooksHandler(false, (context as BODetailModel)))"></i>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field=@nameof(BODetailModel.BookId) Width="100px" Title="Mã sách"></GridColumn>
                    <GridColumn Field=@nameof(BODetailModel.BookName) Width="290px" Title="Tên sách"></GridColumn>
                    <GridColumn Field=@nameof(BODetailModel.SerialNumber) Width="130px" Title="Số serial">
                        <Template>
                            @{
                                var model = (context as BODetailModel)!;
                                @if(!pIsLockPage)
                                {
                                    <i class="fa-regular fa-pen-to-square h-link" title="Chọn lại serial"
                                        style="font-size: 14px; margin-right: 2px" @onclick="@(()=> OnOpenDialogHandler(true, model.BookId))"></i>
                                }
                                
                            }
                            <span>@model.SerialNumber</span>
                        </Template>
                    </GridColumn>
                    <GridColumn Field=@nameof(BODetailModel.Quantity) Width="130px" Title="Số lượng">
                        <FooterTemplate>
                            Tổng: @context.Sum cuốn
                        </FooterTemplate>
                    </GridColumn>
                    <GridColumn Field=@nameof(BODetailModel.StatusName) Width="170px" Title="Tình trạng mượn"></GridColumn>
                    <GridColumn Field=@nameof(BODetailModel.NoteForAll) Width="290px" Title="Tình trạng sách">
                        <Template>
                            @{
                                var model = (context as BODetailModel);
                                <TelerikTextBox @bind-Value="@model!.NoteForAll" Id="txtNoteForAll" />
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </TelerikGrid>
        </div>
    </div>
</div>

<HDialog @bind-IsVisible="@IsShowDialog"
        Width="85%"
        TitleBtnSaveAndClosed="Chọn serial sách"
        SaveAndClosed="@AddBooksHandler"
        Title="Tìm kiếm sách">
    <div class="row row-gap-2">
        <div class="col-md-8 col-sm-12">
            <TelerikToolBar Class="border-bottom-0">
                <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@(()=> ReLoadDataHandler())">Làm mới</ToolBarButton>
            </TelerikToolBar>
            <div class="h-table-content" style=" height: 350px;">
                <TelerikLoaderContainer OverlayThemeColor="light"
                                        Visible="@(!IsInitialDataLoadComplete)"
                                        Text="@null" Class="grid-initial-data-loader">
                    <Template>
                        <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                                       Size="@(ThemeConstants.Loader.Size.Medium)">
                        </TelerikLoader>
                    </Template>
                </TelerikLoaderContainer>
                <TelerikGrid Data="@ListBooks"
                             Height="100%"
                             Width="100%"
                             RowHeight="25"
                             Pageable="true"
                             PageSize="@DefaultConstants.PAGE_SIZE"
                             Sortable="true"
                             Resizable="true"
                             FilterMode="@GridFilterMode.FilterRow"
                             SelectionMode="@GridSelectionMode.Single"
                             ScrollMode="@GridScrollMode.Scrollable"
                             @bind-SelectedItems="@SelectedBooks"
                             OnRowClick="@OnRowClickBookHandler">
                    <GridSettings>
                        <GridPagerSettings InputType="PagerInputType.Input" />
                    </GridSettings>
                    <GridAggregates>
                        <GridAggregate Field=@nameof(BookModel.BookId) Aggregate="@GridAggregateType.Count" />
                    </GridAggregates>
                    <GridColumns>
                        <GridColumn Field=@nameof(BookModel.BookId) Width="130px" MaxResizableWidth="150" Title="Mã sách" ShowFilterCellButtons="false"></GridColumn>
                        <GridColumn Field=@nameof(BookModel.BookName) Width="150px" Title="Tên sách" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains"></GridColumn>
                        <GridColumn Field=@nameof(BookModel.Qty) Width="150px" Title="Số lượng" DisplayFormat="@DefaultConstants.FORMAT_GRID_CURRENCY" ShowFilterCellButtons="false"></GridColumn>
                        <GridColumn Field=@nameof(BookModel.AuthorName) Width="150px" Title="Tác giả" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains"></GridColumn>
                        <GridColumn Field=@nameof(BookModel.PublisherName) Width="150px" Title="Nhà xuất bản" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains"></GridColumn>
                        <GridColumn Field=@nameof(BookModel.KindBookName) Width="150px" Title="Loại sách" ShowFilterCellButtons="false" DefaultFilterOperator="@FilterOperator.Contains"></GridColumn>
                        <GridColumn Field=@nameof(BookModel.PublishingYear) Width="150px" Title="Năm xuất bản" ShowFilterCellButtons="false"></GridColumn>
                        
                    </GridColumns>
                </TelerikGrid>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="h-table-content" style=" height: 385px;">
                <TelerikGrid Data="@ListBookSerials"
                             Height="100%"
                             Width="100%"
                             RowHeight="25"
                             Pageable="false"
                             PageSize="@DefaultConstants.PAGE_SIZE"
                             Sortable="true"
                             Resizable="true"
                             FilterMode="@GridFilterMode.None"
                             SelectionMode="@GridSelectionMode.Multiple"
                             ScrollMode="@GridScrollMode.Scrollable"
                             @bind-SelectedItems="@SelectedBookSerials">
                    <GridSettings>
                        <GridPagerSettings InputType="PagerInputType.Input" />
                    </GridSettings>
                    <GridAggregates>
                        <GridAggregate Field=@nameof(BookSerialModel.Id) Aggregate="@GridAggregateType.Count" />
                    </GridAggregates>
                    <GridColumns>
                        <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
                        <GridColumn Field=@nameof(BookSerialModel.SerialNumber) Width="170px" Title="Mã sách (Seri)"></GridColumn>
                        <GridColumn Field=@nameof(BookSerialModel.IsActive) Width="130px" Title="Hoạt động?">
                            <Template>
                                @{
                                    var model = (context as BookSerialModel);
                                    <TelerikCheckBox @bind-Value="@model!.IsActive" Enabled="false" />
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field=@nameof(BookSerialModel.NoteForAll) Width="270px" Title="Ghi chú tình trạng"></GridColumn>
                    </GridColumns>
                </TelerikGrid>
            </div>
        </div>
    </div>
</HDialog>

<HDialog @bind-IsVisible="@IsShowDialogStaff"
         Width="85%"
         TitleBtnSaveAndClosed="Chọn người mượn"
         SaveAndClosed="@ChoseStaffHandler"
         Title="Tìm kiếm Cán bộ, giáo viên, sinh viên">
    <TelerikToolBar Class="border-bottom-0">
        <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@(()=> ReLoadDataHandler(false))">Làm mới</ToolBarButton>
    </TelerikToolBar>
    <div class="h-table-content" style=" height: 300px;">
        <TelerikLoaderContainer OverlayThemeColor="light"
                                Visible="@(!IsInitialDataLoadComplete)"
                                Text="@null" Class="grid-initial-data-loader">
            <Template>
                <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                               Size="@(ThemeConstants.Loader.Size.Medium)">
                </TelerikLoader>
            </Template>
        </TelerikLoaderContainer>

        <TelerikGrid Data="@ListStaffs"
                     Height="100%"
                     Width="100%"
                     RowHeight="25"
                     Pageable="true"
                     PageSize="@DefaultConstants.PAGE_SIZE"
                     Sortable="true"
                     Resizable="true"
                     FilterMode="@GridFilterMode.FilterMenu"
                     SelectionMode="@GridSelectionMode.Single"
                     ScrollMode="@GridScrollMode.Scrollable"
                     @bind-SelectedItems="@SelectedStaffs">
            <GridSettings>
                <GridPagerSettings InputType="PagerInputType.Input" />
            </GridSettings>
            <GridAggregates>
                <GridAggregate Field=@nameof(StaffModel.StaffCode) Aggregate="@GridAggregateType.Count" />
            </GridAggregates>
            <GridColumns>
                <GridColumn Field=@nameof(StaffModel.StaffCode) Width="130px" MaxResizableWidth="150" Title="Mã vị trí">
                    <Template>
                        @{
                            var model = (context as StaffModel);
                            <span class="h-link" title="Xem chi tiết">@model!.StaffCode</span>
                        }
                    </Template>
                    <FooterTemplate>
                        Số dòng: @context.Count
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field=@nameof(StaffModel.FullName) Width="270px" Title="Họ & tên"></GridColumn>
                <GridColumn Field=@nameof(StaffModel.StaffTypeName) Width="130px" Title="Loại"></GridColumn>
                <GridColumn Field=@nameof(StaffModel.Department) Width="240px" Title="Phòng ban/Lớp học"></GridColumn>
                <GridColumn Field=@nameof(StaffModel.PhoneNumber) Width="130px" Title="SĐT"></GridColumn>
                <GridColumn Field=@nameof(StaffModel.Email) Width="240px" Title="Email"></GridColumn>
                <GridColumn Field=@nameof(StaffModel.IsActive) Width="130px" Title="Hoạt động?" TextAlign="ColumnTextAlign.Center">
                    <Template>
                        @{
                            var model = (context as StaffModel);
                            <TelerikCheckBox @bind-Value="@model!.IsActive" Enabled="false" />
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field=@nameof(StaffModel.Address) Width="290px" Title="Địa chỉ"></GridColumn>
                <GridColumn Field=@nameof(StaffModel.PlaceOfOrigin) Width="290px" Title="Quê quán"></GridColumn>
            </GridColumns>
        </TelerikGrid>
    </div>
</HDialog>