@layout ClientLayout
@page "/trang-chu"
@using LM.WEB.Components.Clients

<!-- Search -->
<div id="bh-search">
    <section class="header-wrapper">
        <div class="filter-box ">
            <div class="banner__search-info">
                <div class="row align-items-end">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <label for="mail" class="k-label k-form-label">Nhà xuất bản</label>
                        <TelerikComboBox Data="@ListPublisher"
                                         Value="@Search.PublisherId"
                                         ValueExpression="@(() => Search.PublisherId)"
                                         ValueChanged="@((int value) => OnChangePublisherHandler(value))"
                                         Placeholder="Chọn nhà xuất bản..."
                                         TextField="@nameof(PublisherModel.PublisherName)"
                                         ValueField="@nameof(PublisherModel.PublisherId)"
                                         Filterable="true"
                                         ClearButton="true"
                                         Id="txtPublisherId" Width="100%">
                        </TelerikComboBox>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <label for="mail" class="k-label k-form-label">Loại sách</label>
                        <TelerikComboBox Data="@ListKindBook"
                                         Value="@Search.KindBookId"
                                         ValueExpression="@(() => Search.KindBookId)"
                                         ValueChanged="@((int value) => OnChangeKindBookHandler(value))"
                                         Placeholder="Chọn loại sách..."
                                         TextField="@nameof(KindBookModel.KindBookName)"
                                         ValueField="@nameof(KindBookModel.KindBookId)"
                                         Filterable="true"
                                         ClearButton="true"
                                         Id="txtKindBook_Id" Width="100%">
                        </TelerikComboBox>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                        <label for="mail" class="k-label k-form-label">Năm xuất bản</label>
                        <TelerikComboBox Data="@ListPublishingYear"
                                         Value="@Search.PublishingYear"
                                         ValueExpression="@(() => Search.PublishingYear)"
                                         ValueChanged="@((int? value) => Search.PublishingYear = value)"
                                         Placeholder="Chọn năm xuất bản..."
                                         TextField="@nameof(BookModel.PublishingYear)"
                                         ValueField="@nameof(BookModel.PublishingYear)"
                                         Filterable="true"
                                         ClearButton="true"
                                         Id="txtPublishing_Id" Width="100%">
                        </TelerikComboBox>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12">
                        <TelerikButton Class="bh-btn-search mb-1" IconClass="fa-solid fa-filter" 
                            FillMode="@(ThemeConstants.Button.FillMode.Outline)" 
                            ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)"
                            OnClick="@ReLoadDataHandler">Đặt lại</TelerikButton>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
<!-- Search -->
<!-- Boarding House -->
<div id="h-service">
    <div className="h-wrapper">
        <section className="h-service">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-12">
                    
                    @*<ItemBookHorizontal Title="Phòng full nội thất, có ban công thoáng mát 25-30m2 giá 4,5tr-5,8tr. LH: 0938 565 *** Chị Linh"
                                          Description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ex deleniti facere sapiente voluptas libero facilis dolores possimus.
                                    Ea nobis cum corporis. Qui nulla eos odit. Assumenda eos officia neque."
                                          Address="Quận 1, Hồ Chí Minh" Price="8.5" Acreage="22" FullName="Nguyễn Văn A" CreateTime="Đăng tin hôm qua"
                                          Contact="0357866848" />*@
                    @*<ItemBookHorizontal Title="Phòng full nội thất, có ban công thoáng mát 25-30m2 giá 4,5tr-5,8tr. LH: 0938 565 *** Chị Linh"
                                          Description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ex deleniti facere sapiente voluptas libero facilis dolores possimus.
                                    Ea nobis cum corporis. Qui nulla eos odit. Assumenda eos officia neque."
                                          Address="Quận 1, Hồ Chí Minh" Price="8.5" Acreage="22" FullName="Nguyễn Văn A" CreateTime="Đăng tin hôm qua"
                                          Contact="0357866848" />
                    <ItemBookHorizontal Title="Phòng full nội thất, có ban công thoáng mát 25-30m2 giá 4,5tr-5,8tr. LH: 0938 565 *** Chị Linh"
                                          Description="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure ex deleniti facere sapiente voluptas libero facilis dolores possimus.
                                    Ea nobis cum corporis. Qui nulla eos odit. Assumenda eos officia neque."
                                          Address="Quận 1, Hồ Chí Minh" Price="8.5" Acreage="22" FullName="Nguyễn Văn A" CreateTime="Đăng tin hôm qua"
                                          Contact="0357866848" />*@
                    @if (ListBookClients != null && ListBookClients.Any())
                    {
                        @for(int i=0; i< ListBookClients.Count; i++)
                        {
                            if (i > 1) break;
                            else
                            {
                                var item = ListBookClients[i];
                                <ItemBookHorizontal 
                                    Title="@item.BookName"
                                    Description="@item.Desciption"
                                    Name="@($"{item.PublisherName}, {item.KindBookName}")"
                                    CreateTime="Đăng tin hôm qua"
                                    CreateDate="@(item.DateCreate ?? DateTime.Now)"
                                    ImageUrlBook="@item.ImageUrlBook"
                                    BookId="@item.BookId"
                                    ListImages="@item.ListImages" />
                            }
                        }
                        <div>
                            @for (int i = 2; i < ListBookClients.Count; i++)
                            {
                                var item = ListBookClients[i];
                                <ItemBookVertical Title="@item.BookName"
                                            Description="@item.Desciption"
                                            Name="@($"{item.PublisherName}, {item.KindBookName}")"
                                            CreateTime="Đăng tin hôm qua"
                                            CreateDate="@(item.DateCreate ?? DateTime.Now)"
                                            ImageUrlBook = "@item.ImageUrlBook"
                                            BookId="@item.BookId"
                                            ListImages="@item.ListImages"/>
                            }
                        
                        </div>
                    }

                    @if(Pagination != null && Pagination.TotalPage > 0)
                    {
                        <nav aria-label="Page navigation" class="bh-pagination" style="margin-top: 10px">
                            <ul class="pagination d-flex justify-content-center">
                                <li class="page-item" disabled>
                                    <a class="page-link" aria-label="Previous" @onclick="@(() => OnChangePageIndex((Pagination.CurrentPage - 1)))">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                @for (int i = 0; i < Pagination.TotalPage; i++)
                                {
                                    int pageIndex = (i + 1);
                                    bool isActive = pageIndex == Search.Page;
                                    <li class="page-item @(isActive ? "active": "")">
                                        <a class="page-link" @onclick="@(() => OnChangePageIndex((pageIndex)))">@pageIndex</a>
                                    </li>
                                }
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next" @onclick="@(() => OnChangePageIndex((Pagination.CurrentPage + 1)))">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    }
                    
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <TelerikCard Width="100%">
                        <CardBody>
                            <h1 class="bh-h1">Xem theo giá</h1>
                            <div class="row">
                                @foreach(var item in ListPrices)
                                {
                                    <div class="col-md-6 col-sm-12" @onclick="@(()=> OnChangePrice(item.Key))">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size @(Search.KeyPrice == item.Key ? "bh-color-active" : "")">@item.Value</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                }
                            </div>
                        </CardBody>
                    </TelerikCard>
                    <TelerikCard Class="mt-4" Width="100%">
                        <CardBody>
                            <h1 class="bh-h1">Lọc theo kích thước</h1>
                            <div class="row">
                                @foreach(var item in ListSize)
                                {
                                    <div class="col-md-6 col-sm-12" 
                                        @onclick="@(()=> OnChangePrice(item.Key, false))">
                                        <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                        <span class="bh-link-hover bh-font-size @(Search.KeyAcreage == item.Key ? "bh-color-active" : "")">@item.Value</span>
                                        <CardSeparator></CardSeparator>
                                    </div>
                                }
                                
                            </div>
                        </CardBody>
                    </TelerikCard>
                    <TelerikCard Class="mt-4" Width="100%">
                        <CardBody>
                            <h1 class="bh-h1">Tin mới đăng</h1>
                        </CardBody>
                    </TelerikCard>
                    @*<TelerikCard Class="mt-4" Width="100%">
                        <CardBody>
                            <h1 class="bh-h1">Bài viết mới</h1>
                        </CardBody>
                    </TelerikCard>*@
                    <TelerikCard Class="mt-4" Width="100%">
                        <CardBody>
                            <h1 class="bh-h1">Có thể bạn quan tâm</h1>
                            <div class="col-sm-12 mt-1">
                                <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                <span class="bh-link-hover bh-font-size">Mẫu hợp đồng cho thuê phòng trọ</span>
                                <CardSeparator></CardSeparator>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                <span class="bh-link-hover bh-font-size">Kinh nghiệm thuê phòng trọ sinh viên</span>
                                <CardSeparator></CardSeparator>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                <span class="bh-link-hover bh-font-size">Kinh nghiệm thuê phòng trọ sinh viên</span>
                                <CardSeparator></CardSeparator>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <i class="fa-solid fa-chevron-right" style="font-size: 9px; margin-right: 5px;"></i>
                                <span class="bh-link-hover bh-font-size">Kinh nghiệm thuê phòng trọ sinh viên</span>
                                <CardSeparator></CardSeparator>
                            </div>
                        </CardBody>
                    </TelerikCard>
                </div>
            </div>
        </section>
    </div>
</div>
