@page "/series"
@inherits SeriesController;
@using Telerik.Blazor.Components;
@using Telerik.Blazor.Components.Editor;

<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/add-new-icon.png" OnClick="@(()=> OnOpenDialogHandler())">Thêm mới</ToolBarButton>
    <ToolBarButton ImageUrl="../assets/remove_grid.png" OnClick="@DeleteDataHandler">Xóa dòng</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 170px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>
    <TelerikGrid Data="@ListSeries"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable"
                 OnRowDoubleClick="@OnRowDoubleClickHandler"
                 @bind-SelectedItems="@SelectedSeries">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(SeriesModel.SeriesId) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
           <GridColumn Field=@nameof(SeriesModel.SeriesCode) Width="130px" MaxResizableWidth="150" Title="Số seri">
                <Template>
                    @{
                        var model = (context as SeriesModel);
                        <span class="h-link" @onclick="@(() => OnOpenDialogHandler(EnumType.Update, model))" title="Xem chi tiết">@model!.SeriesCode</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(SeriesModel.PublisherName) Width="150px" Title="Tên nhà xuất bản"></GridColumn>
            <GridColumn Field=@nameof(SeriesModel.KindBookName) Width="150px" Title="Tên loại sách"></GridColumn>
             <GridColumn Field=@nameof(SeriesModel.BookId) Width="120px" Title="Mã sách"></GridColumn>
            <GridColumn Field=@nameof(SeriesModel.BookName) Width="200px" Title="Tên sách"></GridColumn>
            <GridColumn Field=@nameof(SeriesModel.BatchId) Width="120px" Title="Số lô"></GridColumn>
            <GridColumn Field=@nameof(SeriesModel.DateCreate) DisplayFormat="@DefaultConstants.FORMAT_GRID_DATE_TIME" Width="165px" Title="Ngày nhập"></GridColumn>
             <GridColumn Field=@nameof(SeriesModel.UserCreateName) Width="150px" Title="Người nhập"></GridColumn>
        </GridColumns>
    </TelerikGrid>
</div>

<HDialog @bind-IsVisible="@IsShowDialog"
    Width="90%"
    SaveAndClosed="@(()=> SaveDataHandler())"
    Title="Nhập sách theo số seri">
    <HListInsertSeri ListSelectReturn="@ListSeriesCreate" ListSelectReturnChanged="@((e) => ListSeriesCreate = e)"></HListInsertSeri>
</HDialog>

<HConfirm @ref="@_rDialogs" />
