@page "/staff"
@inherits StaffController
<TelerikToolBar Class="border-bottom-0">
    <ToolBarButton ImageUrl="../assets/refresh.png" OnClick="@ReLoadDataHandler">Làm mới</ToolBarButton>
</TelerikToolBar>
<div class="h-table-content" style=" height: calc(100vh - 170px);">
    <TelerikLoaderContainer OverlayThemeColor="light"
                            Visible="@(!IsInitialDataLoadComplete)"
                            Text="@null" Class="grid-initial-data-loader">
        <Template>
            <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                           Size="@(ThemeConstants.Loader.Size.Medium)">
            </TelerikLoader>
        </Template>
    </TelerikLoaderContainer>

    <TelerikGrid Data="@ListStaffs"
                 Height="100%"
                 Width="100%"
                 RowHeight="25"
                 Pageable="true"
                 PageSize="@DefaultConstants.PAGE_SIZE"
                 Sortable="true"
                 Resizable="true"
                 FilterMode="@GridFilterMode.FilterMenu"
                 SelectionMode="@GridSelectionMode.Multiple"
                 ScrollMode="@GridScrollMode.Scrollable">
        <GridSettings>
            <GridPagerSettings InputType="PagerInputType.Input" />
        </GridSettings>
        <GridAggregates>
            <GridAggregate Field=@nameof(StaffModel.StaffCode) Aggregate="@GridAggregateType.Count" />
        </GridAggregates>
        <GridColumns>
            <GridCheckboxColumn Width="30px" SelectAll="@true"></GridCheckboxColumn>
            <GridColumn Field=@nameof(StaffModel.StaffCode) Width="130px" MaxResizableWidth="150" Title="Mã vị trí">
                <Template>
                    @{
                        var model = (context as StaffModel);
                        <span class="h-link" title="Xem chi tiết">@model!.StaffCode</span>
                    }
                </Template>
                <FooterTemplate>
                    Số dòng: @context.Count
                </FooterTemplate>
            </GridColumn>
            <GridColumn Field=@nameof(StaffModel.FullName) Width="270px" Title="Họ & tên"></GridColumn>
            <GridColumn Field=@nameof(StaffModel.StaffTypeName) Width="130px" Title="Loại"></GridColumn>
            <GridColumn Field=@nameof(StaffModel.Department) Width="240px" Title="Phòng ban/Lớp học"></GridColumn>
            <GridColumn Field=@nameof(StaffModel.PhoneNumber) Width="130px" Title="SĐT"></GridColumn>
            <GridColumn Field=@nameof(StaffModel.Email) Width="240px" Title="Email"></GridColumn>
            <GridColumn Field=@nameof(StaffModel.IsActive) Width="130px" Title="Hoạt động?" TextAlign="ColumnTextAlign.Center">
                <Template>
                    @{
                        var model = (context as StaffModel);
                        <TelerikCheckBox @bind-Value="@model!.IsActive" Enabled="false" />
                    }
                </Template>
            </GridColumn>
            <GridColumn Field=@nameof(StaffModel.Address) Width="290px" Title="Địa chỉ"></GridColumn>
            <GridColumn Field=@nameof(StaffModel.PlaceOfOrigin) Width="290px" Title="Quê quán"></GridColumn>
            
        </GridColumns>
    </TelerikGrid>
</div>