@page "/"
@page "/trang-chu"
@layout ClientLayout
@using LM.Models.Shared
@using LM.WEB.Components.Clients;
<!-- Page header -->
<div class="page-header d-print-none text-white">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Trang chủ
                </div>
                <h2 class="page-title">
                    Thông tin tìm kiếm
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="row row-gap-2">
                                <div class="col-md-6 col-sm-12">
                                    <label class="form-label">Loại sách</label>
                                    <TelerikComboBox Data="@ListKindBooks"
                                                     @bind-Value="@ItemSearch.KindBookId"
                                                     Placeholder="Chọn loại sách..."
                                                     TextField="@nameof(KindBookModel.KindBookName)"
                                                     ValueField="@nameof(KindBookModel.KindBookId)"
                                                     Filterable="true"
                                                     ClearButton="true"
                                                     FilterOperator="@StringFilterOperator.Contains"
                                                     Id="txtKindBookId" Width="100%">
                                    </TelerikComboBox>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label class="form-label">Nhà xuất bản</label>
                                    <TelerikComboBox Data="@ListPublishers"
                                                     @bind-Value="@ItemSearch.PublisherId"
                                                     Placeholder="Chọn loại sách..."
                                                     TextField="@nameof(PublisherModel.PublisherName)"
                                                     ValueField="@nameof(PublisherModel.PublisherId)"
                                                     Filterable="true"
                                                     ClearButton="true"
                                                     FilterOperator="@StringFilterOperator.Contains"
                                                     Id="txtPublisherId" Width="100%">
                                    </TelerikComboBox>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label class="form-label">Tác giả</label>
                                    <TelerikComboBox Data="@ListAuthors"
                                                     @bind-Value="@ItemSearch.AuthorId"
                                                     Placeholder="Chọn loại sách..."
                                                     TextField="@nameof(AuthorModel.AuthorName)"
                                                     ValueField="@nameof(AuthorModel.Id)"
                                                     Filterable="true"
                                                     ClearButton="true"
                                                     FilterOperator="@StringFilterOperator.Contains"
                                                     Id="txtAuthorId" Width="100%">
                                    </TelerikComboBox>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label class="form-label">Sách</label>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <TelerikTextBox @bind-Value="@ItemSearch!.TextSearch" Id="txtNoteForAll" PlaceHolder="Nhập thông tin tìm kiếm" />
                                        <i class="fa-solid fa-magnifying-glass" style="font-size: 17px; margin-left: 7.5px; cursor: pointer;" title="Tìm kiếm" 
                                        onclick="@(() => GetDataBooks(true))"></i>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-primary" style="width: 100%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-label="100% Complete">
                                <span class="visually-hidden">75% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4">
            <div class="row row-cards">
                @if (ListBooks != null && ListBooks.Any())
                {
                    foreach (var oItem in ListBooks)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <ItemBook BookName ="@oItem.BookName" PublisherName ="@oItem.PublisherName"
                                Qty="@oItem.Qty"
                                OnClickShowDetail="@(async()=> await OnClickShowDeail(oItem))"
                                AuthorName="@oItem.AuthorName" KindBookName="@oItem.KindBookName"
                                Description="@oItem.Description" ImageUrl="@oItem.ImageUrlView"
                                AddToCart="@(async()=> await AddToCartHandler(oItem))" />
                        </div>
                    }
                }
                else
                {
                    <div class="row row-cards">
                        <div class="col-md-3 col-sm-6">
                            <div class="card placeholder-glow">
                                <div class="ratio ratio-21x9 card-img-top placeholder"></div>
                                <div class="card-body">
                                    <div class="placeholder col-9 mb-3"></div>
                                    <div class="placeholder placeholder-xs col-10"></div>
                                    <div class="placeholder placeholder-xs col-11"></div>
                                    <div class="mt-3">
                                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-4" aria-hidden="true"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card placeholder-glow">
                                <div class="ratio ratio-21x9 card-img-top placeholder"></div>
                                <div class="card-body">
                                    <div class="placeholder col-9 mb-3"></div>
                                    <div class="placeholder placeholder-xs col-10"></div>
                                    <div class="placeholder placeholder-xs col-11"></div>
                                    <div class="mt-3">
                                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-4" aria-hidden="true"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card placeholder-glow">
                                <div class="ratio ratio-21x9 card-img-top placeholder"></div>
                                <div class="card-body">
                                    <div class="placeholder col-9 mb-3"></div>
                                    <div class="placeholder placeholder-xs col-10"></div>
                                    <div class="placeholder placeholder-xs col-11"></div>
                                    <div class="mt-3">
                                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-4" aria-hidden="true"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="card placeholder-glow">
                                <div class="ratio ratio-21x9 card-img-top placeholder"></div>
                                <div class="card-body">
                                    <div class="placeholder col-9 mb-3"></div>
                                    <div class="placeholder placeholder-xs col-10"></div>
                                    <div class="placeholder placeholder-xs col-11"></div>
                                    <div class="mt-3">
                                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-4" aria-hidden="true"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
            </div>
        </div>

        <div class="mt-3">
            @if (Pagination != null && Pagination.TotalPage > 0)
            {
                <nav aria-label="Page navigation" class="bh-pagination" style="margin-top: 10px">
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item" disabled>
                            <a class="page-link" aria-label="Previous" @onclick="@(() => OnChangePageIndex((Pagination.CurrentPage - 1)))">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        @for (int i = 0; i < Pagination.TotalPage; i++)
                        {
                            int pageIndex = (i + 1);
                            bool isActive = pageIndex == ItemSearch.Page;
                            <li class="page-item @(isActive ? "active": "")">
                                <a class="page-link" @onclick="@(() => OnChangePageIndex((pageIndex)))">@pageIndex</a>
                            </li>
                        }
                        <li class="page-item">
                            <a class="page-link" aria-label="Next" @onclick="@(() => OnChangePageIndex((Pagination.CurrentPage + 1), true))">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>

<HDialog @bind-IsVisible="@IsShowPopupDetail"
         IsShowButtonSaveAdnCreate="false"
         IsShowButtonSaveAndClosed="false"
         Title="@($"Thông tin chi tiết sách [{SelectBoook.BookName}]")">
          <div class="col-12">
            <div class="text-secondary mt-1">
                @((MarkupString)$"{SelectBoook.Description}")
            </div>
        </div>
</HDialog>

