@page "/info-staff"
@layout ClientLayout
@using LM.Models.Shared
@using Newtonsoft.Json;

<!-- Page header -->
<div class="page-header d-print-none text-white">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Chi tiết
                </div>
                <h2 class="page-title">
                    Thông tin người mượn
                </h2>
            </div>
        </div>
    </div>
</div>

<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-deck row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="row row-gap-2">
                                <div class="col-md-4 col-sm-12">
                                    Mã thẻ/Mssv: <strong>@(StaffCurrent.StaffCode)</strong>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    Họ & Tên: <strong>@(StaffCurrent.FullName)</strong>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    Phòng ban: <strong>@(StaffCurrent.Department)</strong>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    Loại: <strong>@(StaffCurrent.StaffTypeName)</strong>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    Số đt: <strong>@(StaffCurrent.PhoneNumber)</strong>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    Email: <strong>@(StaffCurrent.Email)</strong>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    Địa chỉ: <strong>@(StaffCurrent.Address)</strong>
                                </div>
                            </div>
                        </div>
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-primary" style="width: 100%" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" aria-label="100% Complete">
                                <span class="visually-hidden">75% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4">
                <div class="card">
                    <div class="card-header" style="padding: 10px">
                        <h4 class="mb-0">Lịch sử mượn sách</h4>
                    </div>
                    <div class="card-body" style="padding: 10px">
                        @if (ListDocuments != null && ListDocuments.Any())
                        {
                            <ul class="timeline">
                                @foreach (var oItem in ListDocuments)
                                {
                                    <li class="timeline-event">
                                        <div class="timeline-event-icon bg-twitter-lt" style="border-radius: 50%">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 12l5 5l10 -10"></path></svg>
                                        </div>
                                        <div class="card timeline-event-card">
                                            <div class="card-body" style="padding: 10px">
                                                <div class="text-secondary float-end">@(oItem.DateCreate == null ? "Chưa cập nhật" : oItem.DateCreate.Value.ToString(DefaultConstants.FORMAT_DATE_TIME))</div>
                                                <h4 class="mb-1 h-link" @ondblclick="@(async () => await OnRowDoubleClickHandler(oItem))">@(oItem.VoucherNo)</h4>
                                                <p class="text-secondary mb-1">
                                                    Tình trạng: @{
                                                        string color = "badge bg-cyan-lt";
                                                        if (oItem!.StatusCode == nameof(DocStatus.Closed)) color = "badge bg-green-lt";
                                                        else if (oItem!.StatusCode == nameof(DocStatus.Cancled)) color = "badge bg-red-lt";
                                                        else if (oItem!.StatusCode == nameof(DocStatus.Borrowing)) color = "badge bg-yellow-lt";
                                                        <strong class="@(color)">
                                                            @($"{oItem.StatusName}")
                                                        </strong>
                                                    }
                                                </p>
                                                @{
                                                    var lstItemDetails = JsonConvert.DeserializeObject<List<BODetailModel>>(oItem.JsonDetails + "");
                                                    @if (lstItemDetails != null && lstItemDetails.Any())
                                                    {
                                                        <ul>
                                                            @foreach (var oItemDetail in lstItemDetails)
                                                            {
                                                                <li>
                                                                    <p class="text-secondary">@oItemDetail.BookName - @oItemDetail.Quantity cuốn - @oItemDetail.StatusName</p>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                }
                                                <p class="text-secondary">Ghi chú: @oItem.Description</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                
                            </ul>
                        }
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
@code{
    [Inject] private NavigationManager? _navManager { get; init; }
    /// <summary>
    /// double click vào xem chi tiết
    /// </summary>
    /// <param name="args"></param>
    public async Task OnRowDoubleClickHandler(BorrowOrderModel args)
    {
        try
        {
            BorrowOrderModel? oItem = args;
            if (oItem == null) return;
                Dictionary<string, string> pParams = new Dictionary<string, string>
                {
                    { "pVoucherNo", $"{oItem.VoucherNo}"},
                    { "pIsCreate", $"{false}" },
                };
                string key = EncryptHelper.Encrypt(JsonConvert.SerializeObject(pParams)); // mã hóa key
                _navManager!.NavigateTo($"/document-create?key={key}");
            }
            catch (Exception ex)
            {
                _logger!.LogError(ex, "BorrowDocListController", "OnRowDoubleClickHandler");
            }
            finally
            {
                await InvokeAsync(StateHasChanged);
            }
        }

}